
<div class="wrap cf">
  <div class="heading cf">
    <h1>My Cart</h1>
    <a href="order" class="continue">Continue Order</a>
  </div>
  <div class="cart" *ngFor="let item of items">
    <ul class="cartWrap">
      <li class="items odd">

        <div class="infoWrap">
          <div class="cartSection">
            <img src="{{item.product.photo}}" alt="" class="itemImg" />
            <h3>{{item.product.name}}</h3>
            <p> {{item.quantity}} x €{{item.product.price}}</p>
          </div>


          <div class="prodTotal cartSection">
            <p>€{{item.product.price * item.quantity}}</p>
          </div>
          <div class="cartSection removeWrap">
            <a class="remove" (click)="remove(item.product.id)">x</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="this.total != 0" class="promoCode"><label for="prom">Have A Promo Code?</label><input #prom id="prom" type="text" name="promo" placholder="Enter Code" />
    <a class="btn" (click)="validateCoupon(prom.value)"> </a></div>

  <div *ngIf="this.total != 0" class="subtotal cf">
    <ul>
      <li class="totalRow final"><span class="label">Korting</span><span class="value">€{{korting}}</span></li>
      <li class="totalRow final"><span class="label">Total</span><span class="value">€{{total}}</span></li>
      <li class="totalRow"><button (click)="checkout()" class="btn continue">Checkout</button></li>
    </ul>
  </div>
</div>
