
<div class="wrap cf">
  <h1 class="projTitle"><span></span> Shopping Cart</h1>
  <div class="heading cf">
    <h1>My Cart</h1>
    <a href="order" class="continue">Continue Order</a>
  </div>
  <div class="cart" *ngFor="let item of items">
    <ul class="cartWrap">
      <li class="items odd">

        <div class="infoWrap">
          <div class="cartSection">
            <img src="{{item.product.photo}}" alt="" class="itemImg" />
            <h3>{{item.product.name}}</h3>
            <p class="itemNumber">"{{item.product.desc}}"</p>

            <p> <input type="text"  class="qty" placeholder="{{item.quantity}}"/> x €{{item.product.price}}</p>
          </div>


          <div class="prodTotal cartSection">
            <p>€{{item.product.price * item.quantity}}</p>
          </div>
          <div class="cartSection removeWrap">
            <a class="remove" (click)="remove(item.product.id)">x</a>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <div class="promoCode"><label for="">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
    <a href="#" class="btn"></a></div>

  <div class="subtotal cf">
    <ul>
      <li class="totalRow final"><span class="label">Total</span><span class="value">{{total}}</span></li>
      <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
    </ul>
  </div>
</div>
