<p>
  Your order and payment was succesfull.
</p>
<div class="cart" *ngFor="let item of items">
  <ul class="cartWrap">
    <li class="items odd">

      <div class="infoWrap">
        <div class="cartSection">
          <img src="{{item.product.photo}}" alt="" class="itemImg" />
          <h3>{{item.product.name}}</h3>
          <p class="itemNumber">"{{item.product.desc}}"</p>

          <p> {{item.quantity}} x €{{item.product.price}}</p>
        </div>


        <div class="prodTotal cartSection">
          <p>€{{item.product.price * item.quantity}}</p>
        </div>
        <div class="cartSection removeWrap">
          <a class="remove" (click)="remove(item.product.id)">x</a>
        </div>
      </div>
    </li>
  </ul>
</div>

<p>
  paid {{total}}
</p>

<button>bevestig</button>
