<div class="header {{role}}">
  <div class="headerLeft">
    <div *ngIf="role == 'admin'">
      <a class="coupon" (click)="nav('coupon')" [routerLink]="['/coupon']">Coupon</a>
      <a class="role" (click)="nav('role')" [routerLink]="['/role']">Role</a>
      <a class="product" (click)="nav('product')" [routerLink]="['/product']">Product</a>
      <a class="category" (click)="nav('category')" [routerLink]="['/category']">Category</a>
    </div>
    <div *ngIf="role == 'user'">
      <a class="order" (click)="nav('order')" [routerLink]="['/order']">Order</a>
      <a class="cart" (click)="nav('cart')" [routerLink]="['/cart']">Cart</a>
      <a class="history" (click)="nav('history')" [routerLink]="['/history']">History</a>
      <a class="reservation" (click)="nav('reservation')" [routerLink]="['/reservation']">Reservation</a>
    </div>
    <div *ngIf="role == 'table'">
      <p>Add Table Header</p>
    </div>
    <div *ngIf="role == 'employee'">
      <p>Add Employee Header</p>
    </div>
  </div>
  <div class="headerRight">
    <a *ngIf="role == 'user'" class="profile" (click)="nav('profile')" [routerLink]="['/profile']">Profile</a>
    <a *ngIf="!isLoggedIn" class="header-login" (click)="nav('header-login')" [routerLink]="['/login']">Login</a>
    <a *ngIf="isLoggedIn" class="header-logout" (click)="logout()" [routerLink]="['/login']">Logout</a>
  </div>
</div>
