<link href="../../../assets/theme.css" rel="stylesheet">

<div class="header {{role}}">
  <div class="headerLeft">
    <div *ngIf="role == 'admin'">
      <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
          <a href="#">
            <img src="" alt="Next Level Dining" />
          </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
          <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__sub-list js-sub-list">
              <li>
                <a class="coupon" (click)="nav('coupon')" [routerLink]="['/coupon']"><img src="https://image.flaticon.com/icons/svg/287/287585.svg" width="28px"> Coupon</a>
              </li>
              <li>
                <a class="role" (click)="nav('role')" [routerLink]="['/role']"><img src="http://cdn.onlinewebfonts.com/svg/img_421579.png" width="28px"> Role</a>
              </li>
              <li>
                <a class="product" (click)="nav('product')" [routerLink]="['/product']"><img src="https://image.flaticon.com/icons/png/512/45/45332.png" width="28px"> Product</a>
              </li>
              <li>
                <a class="category" (click)="nav('category')" [routerLink]="['/category']"><img src="http://cdn.onlinewebfonts.com/svg/img_360921.png" width="28px"> Category</a>
              </li>
              <li>
                <a class="logging" (click)="nav('logging')" [routerLink]="['/logging']"><img src="https://image.flaticon.com/icons/svg/54/54874.svg" width="28px"> Logging</a>
              </li>
              <li>
                <a class="monitoring" (click)="nav('monitoring')" [routerLink]="['/monitoring']"><img src="http://cdn.onlinewebfonts.com/svg/img_372046.png" width="28px"> Monitoring</a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
    </div>
    <div *ngIf="role == 'user'">
      <a class="order" (click)="nav('order')" [routerLink]="['/order']">Order</a>
      <a class="cart" (click)="nav('cart')" [routerLink]="['/cart']">Cart</a>
      <a class="history" (click)="nav('history')" [routerLink]="['/history']">History</a>
      <a class="reservation" (click)="nav('reservation')" [routerLink]="['/reservation']">Reservation</a>
    </div>
    <div *ngIf="role == 'table'">
      <a class="order" (click)="nav('order')" [routerLink]="['/order']">Order</a>
    </div>
    <div *ngIf="role == 'employee'">
      <a class="dayReservations" (click)="nav('dayReservations')" [routerLink]="['/day-reservation']">Reservations</a>
    </div>
  </div>
  <div class="headerRight">
    <a *ngIf="role == 'user'" class="profile" (click)="nav('profile')" [routerLink]="['/profile']">Profile</a>
    <a *ngIf="!isLoggedIn" class="header-login" (click)="nav('header-login')" [routerLink]="['/login']">Login</a>
    <a *ngIf="isLoggedIn" class="header-logout" (click)="logout()">Logout</a>
  </div>
</div>
