<div class="cartImage">
  <div class="count">
    <a href="cart" class="cart"><span>{{cartCount()}}</span></a>
</div>

<div class="container" *ngFor="let product of products">
  <div class="images">
    <img src={{product.photo}} width='250' />
  </div>
  <div class="product">
    <h1>{{product.name}}</h1>
    <p class="desc">{{product.category.name}}</p>
    <h2>€{{product.price}}</h2>
    <div class="buttons">
      <button class="add" (click)="add(product.id)"> ADD TO CART </button>
    </div>
  </div>
</div>
  <div *ngFor="let category of categories">
  {{category.name}}
    <div class="container" *ngFor="let product of products">
      <div>
      <div *ngIf="(category.name == product.category.name)" class="images">
        <img src={{product.photo}} width='250' />
      </div>
        <h1 *ngIf="(category.name == product.category.name)">{{product.name}}</h1>
        <p *ngIf="(category.name == product.category.name)" class="desc">{{product.category.name}}</p>
        <h2 *ngIf="(category.name == product.category.name)">€{{product.price}}</h2>
        <div *ngIf="(category.name == product.category.name)" class="buttons">
          <button *ngIf="(category.name == product.category.name)" class="add" (click)="add(product.id)"> ADD TO CART </button>
        </div>
      </div>
      </div>
  </div>
</div>
