<h1>Users</h1>
<select #selectedOption>
  <option *ngFor="let role of availableRoles" [value]="role">
    {{role}}
  </option>
</select>
<button (click)="addRole(selectedOption.value)">Add Role</button>
<button (click)="removeRole(selectedOption.value)">Remove Role</button>
<form>
  <table>
    <tr>
      <td></td>
      <th>Firstname</th>
      <th>Email</th>
      <th>Roles</th>
    </tr>
    <tr *ngFor="let user of users">
      <td><input name="radiobutton" type="radio" value="{{user.id}}" [(ngModel)]="checked"></td>
      <td>{{user.firstName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.roles}}</td>
    </tr>
  </table>
</form>
