<p>
  logging works!
</p>

<div>

</div>

<div>
  <app-log-list [logList]="logList"></app-log-list>
</div>

<div>
  <h2>Send a test log to the logging system</h2>
  <form (ngSubmit)="sendTestLog()" #testLogForm="ngForm">
    <div class="form-group">
      <label for="component">Component</label>
      <input type="component" class="form-control" id="component" required [(ngModel)]="testMessage" name="component">
    </div>

    <div class="form-group">
      <label for="level">Level</label>
      <input type="level" class="form-control" id="level" required [(ngModel)]="testLevel" name="level">
    </div>

    <button type="submit">Send log</button>

  </form>
  <br>
</div>
