
<div class="container">

  <div class="Address">
    <h1>Ready to eat?</h1>
    <h2>Where do you want your order to be delivered? </h2>
    <form [formGroup]="checkoutForm" novalidate (ngSubmit)="testOrderButton()">
      <div class="inputs">
        <div class="line"></div>
        <div class="row">
          <div class="column1">
            <label class="label" for="address">Address</label>
            <input formControlName="address" class="text-input address-input" id="address" />
          </div>
          <div class="column">
            <label class="label" for="nr">Nr:</label>
            <input formControlName="nr" class="text-input address-input" id="nr" />
          </div>
        </div>
        <div class="row">
          <div *ngIf="checkoutForm.controls['address'].invalid &&(checkoutForm.controls['address'].dirty||checkoutForm.controls['address'].touched)" class="alert alert-danger">
            <div *ngIf="checkoutForm.controls['address'].errors.required">
              Address is required.
            </div>
          </div>
          <div *ngIf="checkoutForm.controls['zipcode'].invalid &&(checkoutForm.controls['zipcode'].dirty||checkoutForm.controls['zipcode'].touched)" class="alert alert-danger">
            <div *ngIf="checkoutForm.controls['zipcode'].errors.required">
              Zipcode is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label class="label" for="zipcode">Zip code</label>
            <input formControlName="zipcode" class="text-input address-input" id="zipcode" />
          </div>

          <div class="column">
            <label class="label" for="city">City</label>
            <input formControlName="city" class="text-input address-input" id="city" />
          </div>
        </div>
        <div class="row">
        <div *ngIf="checkoutForm.controls['nr'].invalid &&(checkoutForm.controls['nr'].dirty||checkoutForm.controls['nr'].touched)" class="alert alert-danger">
          <div *ngIf="checkoutForm.controls['nr'].errors.required">
            Nr. is required.
          </div>
        </div>
        <div *ngIf="checkoutForm.controls['city'].invalid &&(checkoutForm.controls['city'].dirty||checkoutForm.controls['city'].touched)" class="alert alert-danger">
          <div *ngIf="checkoutForm.controls['city'].errors.required">
            City is required.
          </div>
        </div>
        </div>
        <h2>How can we reach you? </h2>
        <div class="line"></div>
        <div class="row">
          <div class="column">
            <label class="label" for="name">Name</label>
            <input formControlName="name" class="text-input name-input" id="name"/>
          </div>

          <div class="column">
            <label class="label" for="email">E-mail</label>
            <input formControlName="email" class="text-input expiry-input" id="email"/>
          </div>
        </div>
        <div class="row">
        <div *ngIf="checkoutForm.controls['name'].invalid &&(checkoutForm.controls['name'].dirty||checkoutForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="checkoutForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
        <div *ngIf="checkoutForm.controls['email'].invalid &&(checkoutForm.controls['email'].dirty||checkoutForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="checkoutForm.controls['email'].errors.required">
            Email is required.
          </div>
        </div>
        </div>
        <div class="row">
          <div class="column">
            <label class="label" for="phonenumber">Phone number</label>
            <input formControlName="phonenumber" class="text-input " id="phonenumber"/>
          </div>

          <div class="column" style="visibility: hidden;">
            <label class="label" for="phoneumber">Phone number</label>
            <input class="text-input" id="phoneumber"/>
          </div>
        </div>
        <div class="row">
          <div *ngIf="checkoutForm.controls['phonenumber'].invalid &&(checkoutForm.controls['phonenumber'].dirty||checkoutForm.controls['phonenumber'].touched)" class="alert alert-danger">
            <div *ngIf="checkoutForm.controls['phonenumber'].errors.required">
              Phonenumber is required.
            </div>
          </div>
        </div>
        <h2>When would you like your food? </h2>
        <div class="line"></div>
        <div class="row">
          <div class="column">
            <label class="label" for="deliverytime">Please choose a delivery time</label>
            <select class="text-input" id="deliverytime" name="deliverytime">
              <option value="asap">As soon as possible</option>
            </select>
          </div>
          <div class="column">
            <label class="label" for="remarks">Remarks</label>
            <textarea class="text-input" id="remarks"></textarea>
          </div>
        </div>
        <h2>How would you like to pay? </h2>
        <div class="line"></div>
      </div>
      <div class="">
        <button type="submit"  [disabled]="checkoutForm.invalid">ORDER AND PAY</button>
      </div>
    </form>
    <div [hidden]="paymentMethod != 'iDeal'">
    <label for="ideal-bank-element">
      iDEAL Bank
    </label>
    <div  id="ideal-bank-element">
    </div>
    </div>
  </div>
  <div>
    <input [(ngModel)]="paymentMethod" type="radio" id="creditCard" name="payment" value="creditCard" class="input-hidden" >
    <label for="creditCard">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/1200px-Visa.svg.png" width="126">
    </label>

    <input [(ngModel)]="paymentMethod" type="radio" id="iDeal" name="payment" value="iDeal" class="input-hidden">
    <label for="iDeal">
      <img src="https://www.cardgate.com/wp-content/uploads/iDEAL-logo-302x261.png" width="88">
    </label>
  </div>
</div>
<div class="form-row">

</div>
<div id="error-message" role="alert"></div>
